/* globals.css */

/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Root container to manage the layout globally */
.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f7fc;
  width: 100%;
  max-width: 1536px; /* Fixed width for larger screens */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 0 1rem; /* Adds padding on smaller screens */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional shadow for a subtle effect */
  border-radius: 12px; /* Optional rounded corners for a modern feel */
  overflow: hidden; /* Prevents content from spilling out */
}


/* Layout for the dashboard page */
.dashboard-layout {
  display: flex;
  width: 100%;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  width: 100%;
}

.content {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Default layout for non-dashboard pages */
.default-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

footer {
  margin-top: auto;
}

/* Optional: Add responsiveness */
@media (max-width: 768px) {
  .dashboard-layout {
    flex-direction: column;
  }

  .dashboard-main {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}
/* header {
  display: flex !important;
  justify-content: space-between !important;
} */

